In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
def fetch_stock_data(ticker, start_date, end_date):
    stock = yf.Ticker(ticker)
    df = stock.history(start=start_date, end=end_date, interval='1h')
    df['Trend'] = np.where(df['Close'].shift(-1) > df['Close'], 1, 0)

    return df

In [3]:
from datetime import datetime

current_date = datetime.today().strftime('%Y-%m-%d')
df = fetch_stock_data("AAPL", "2023-01-01", current_date)

In [4]:
df.shape

(3068, 8)

In [5]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Trend
Datetime,,,,,,,,
2023-01-03 09:30:00-05:00,130.279999,130.899994,125.230003,125.459999,27775505,0.0,0.0,0
2023-01-03 10:30:00-05:00,125.459999,125.870003,124.730003,125.345001,18104999,0.0,0.0,0
2023-01-03 11:30:00-05:00,125.350197,125.370003,124.349098,124.660004,11248777,0.0,0.0,0
2023-01-03 12:30:00-05:00,124.660004,124.940002,124.190002,124.649902,8860080,0.0,0.0,0
2023-01-03 13:30:00-05:00,124.669899,125.000000,124.190002,124.570000,8388062,0.0,0.0,1

In [6]:
df.sort_values(by=['Datetime'], ascending=False)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Trend
Datetime,,,,,,,,
2024-10-02 15:30:00-04:00,227.225006,227.369995,226.690094,226.809998,2793983,0.0,0.0,0
2024-10-02 14:30:00-04:00,226.800003,227.330002,226.649994,227.240005,2105356,0.0,0.0,0
2024-10-02 13:30:00-04:00,226.940002,227.179993,226.350006,226.820007,2418335,0.0,0.0,1
2024-10-02 12:30:00-04:00,226.949997,227.039398,226.589996,226.959900,2173028,0.0,0.0,0
2024-10-02 11:30:00-04:00,226.220001,227.050003,226.164993,226.951996,3954712,0.0,0.0,1
...,...,...,...,...,...,...,...,...
2023-01-03 13:30:00-05:00,124.669899,125.000000,124.190002,124.570000,8388062,0.0,0.0,1
2023-01-03 12:30:00-05:00,124.660004,124.940002,124.190002,124.649902,8860080,0.0,0.0,0
2023-01-03 11:30:00-05:00,125.350197,125.370003,124.349098,124.660004,11248777,0.0,0.0,0
2023-01-03 10:30:00-05:00,125.459999,125.870003,124.730003,125.345001,18104999,0.0,0.0,0
2023-01-03 09:30:00-05:00,130.279999,130.899994,125.230003,125.459999,27775505,0.0,0.0,0